<ion-content class="ion-padding login-background">
  <div class="login-wrapper">

    <div class="login-header">
      <div class="icon-glow">
        <img src="assets/LOGO.png" alt="Logo" class="logo-image">
      </div>
      <h2>Admin Bot WA</h2>
      <p>Panel de Control Automatizado para WhatsApp</p>
    </div>

    <!-- FORMULARIO CONTROLADO CON ANGULAR -->
    <form (ngSubmit)="onLogin()" style="width: 100%; display: flex; flex-direction: column; align-items: center;">
      
      <ion-card class="login-card" style="width: 100%;">
        <ion-item class="custom-item" lines="none">
          <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
          <ion-input label="Correo electrónico" labelPlacement="stacked" type="email" [(ngModel)]="email" name="email"
            placeholder="admin@ejemplo.com">
          </ion-input>
        </ion-item>

        <ion-item class="custom-item" lines="none">
          <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
          <ion-input [type]="showPassword ? 'text' : 'password'" label="Contraseña" labelPlacement="stacked"
            [(ngModel)]="password" name="password" placeholder="••••••••">
          </ion-input>
          <ion-button fill="clear" slot="end" type="button" (click)="togglePassword()" style="margin-top: 15px;">
            <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              color="medium"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>

      <!-- BOTÓN CON TIPO SUBMIT PARA DISPARAR EL FORMULARIO -->
      <ion-button expand="block" shape="round" type="submit" class="login-btn ion-margin-top">
        Entrar al Dashboard
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>

    </form>
    
    <div class="login-footer">
      <p>Sistema de Gestión &copy; 2026</p>
    </div>

  </div>
</ion-content>